:root{

    /*color*/
    --primary-color : #0a0a0a;
    --secondary-color : #0d0d0d;
    --btn-bg-color: #111111;

    ---txt-white: #ffffff;
    ---txt-blk: #000000;
    ---txt-white-grey: #ffffff99;
    --green: #31EE33;
    --star: #C4A603;
   
   
    /* gradient color  */
    
    --gradient-1: linear-gradient(180deg, #7a93b826, #7a93b808);
    --gradient-2: #7a93b81A;
    --gradient-3: linear-gradient(360deg, #7a93b826, #7a93b81A);
    --gradient-4: linear-gradient(to bottom, #d6d6d6, #f5eaeaa6);
    --gradient-5:  linear-gradient(to bottom,  #1a1a1a,  #2a2a2a);;
    
    
   
    /*others color*/
    --scrollbar-color: var(--gradient-1);
    --scrollbar-thump: #2a2a2a ;
    --scrollbar-hover: #0a0a0a;
   
    /* transition  */
    --transition-1: 0.25s ease;
    --transition-2: 0.35s ease-in-out;
    --transition-3: 0.5s ease-in-out;
    
    

     /* fontsize  */
     --font-16: 16px;
     --font-15: 15px;
     --font-20: 20px;
     --font-22: 22px;
     --font-24: 24px;
     --font-28: 28px;
     --font-h1: 72px;
     --font-h2: 54px;
     --font-h3: 30px;
     --font-h4: 25px;
     --font-h5: 20px;

     

     /* font-weight  */
     
    

     /* z-index  */
     --z-minus:-1;
     --z-zero:0;
     --z-low:1;
     --z-high:10;
     --z-100:100;
     --z-tooltop:1000;
     --z-fix:1100;
     --z-overlay:1110;
     --z-modal:1990;
     --z-max:9999;


    }

    /* font-family: "Plus Jakarta Sans", sans-serif;
     font-family: "Inter", sans-serif; */
    h1,h2,h3,h4,h5{
       
        font-family: "Plus Jakarta Sans", sans-serif;
        
    }
    h1{
        font-size: var(--font-h1);
    }
    h2{
        font-size: var(--font-h2);
    }
    h3{
        font-size: var(--font-h3);
    }
    h4{
        font-size: var(--font-h4);
    }
    h5{
        font-size: var(--font-h5);
    }
    

    /* ----------------------------------------
      ============= reset css  ==============
      -------------------------------------------*/
    *,
    *::after,
    *::before{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       

    }
    li{
        list-style: none;
    }

    a,
    img,
    button,
    i{
        display: block;
        text-transform: capitalize;
    }
    .btn{
    border: 1px solid #ffffff33;
    padding: 15px 30px;
    border-radius: 35px;
    max-width: 100%;
    cursor: pointer;
    text-transform: capitalize;
}
    
    input,
    textarea{
         font-family: "Plus Jakarta Sans", sans-serif;
          
    }
    button{
     background: none;
     border: 0;
     outline: 0;
     cursor: pointer;
    }
    
    a{
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        max-width: 100%;
    }
    img{
        height: auto;
        max-width: 100%;
        object-fit: cover;
    }
   
    html{
        scroll-behavior: smooth;
       
    }
    body{
        max-width: 100%;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        position: relative;
        transition:  all 0.5s ease-in-out;
        animation: zoom 0.5s ease-in-out;
         font-family: "Inter", sans-serif;
         color: var(---txt-white);
         background: var(--primary-color);
         font-size: var(--font-16);
        
      
        overflow-x: hidden;
        overflow-y: scroll;

       

      
    }
    /* ============----page scroll bar-----============== */
::-webkit-scrollbar{ 
        width: 5px;       
}
  

::-webkit-scrollbar-track { 
        overflow: hidden;
        background-color:var(--scrollbar-color) ;       
}
   
::-webkit-scrollbar-thumb {
   
    border-radius:100px;
    background-color:var(--scrollbar-thump) ;
    transition: 0.3s;
    cursor: grab; 
   
  }
  ::-webkit-scrollbar-thumb:hover{
  background-color: var(--scrollbar-hover);
  }
/* =====================others=========================== */
.container{
    max-width: 100%;
    padding: 0.5% 1% ;
    margin: 0 7% ;
    transition: var(--transition-1);
    
}
   section{
    margin: 2% 6%;
    max-width: 100%;
    position: relative;
    padding: 25px  0;
    transition: var(--transition-1);
}

@keyframes zoom{
    from{
        transform: scale(0.5);
        opacity: 0;
    }to{
        transform: scale(1);
        opacity: 1;
    }
 }

 .custom-cursor {
      position: fixed;
      top: 0;
      left: 0;
      width: 12px;
      height: 12px;
      background-color: var(---txt-white);
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 0 0 12px 6px rgba(255, 255, 255, 0.2);
      transform: translate(-50%, -50%);
      transition: var(--transition-1);
    
      z-index: 9999;
    }

    .bar{
        max-width: 100%;
        width: 100%;
        position: fixed;
        z-index: 9999;
        bottom: -30px;
        left: 0;
         background: linear-gradient(to bottom , #0a0a0a10, #0a0a0a15); 
        
        backdrop-filter: blur(2px);
        height: 10vh;
        border-radius: 50%;
    }
    

    /* ======================================================================
    ==============================header start here========================
    ====================================================================== */

    header{
        max-width: 100%;
        position: relative;
    }
    header #head{
        background: #161616b4;
        backdrop-filter: blur(10px);
        position: fixed;
        width: 55%;
        max-width: 100%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 20px;
        border: 1px solid #ffffff15;
        z-index: 9999;
    }
    #logo{
        max-width: 100%;
        width: 100%;
        padding: 2px;
        transition: var(--transition-1);
    }
    #logo a img{
        width: 85px;
        transition: var(--transition-1);
    }
    #logo a img:hover{
        width: 82px;
    }
    nav{
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
       width: 100%;
       gap: 10px;
    }
    nav .navLink{
        max-width: 100%;
        margin: 0 5px;
        padding: 0 5px;
        color: var(---txt-white-grey);
        font-size: var(--font-16);
        text-transform: capitalize;
        transition: var(--transition-1);
        font-weight: 500;
        
    }
    nav .navLink:hover{
        color: var(---txt-white);
    }
    nav .navBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 8px 40px;
        max-width: 100%;
        background: var(--gradient-3);
        border-radius: 35px;
        border: 1px solid #ffffff15;
        transition: var(--transition-1);
    }
    nav .navBtn:hover{
        background: var(---txt-blk);
        border: 1px solid #ffffff44;
    }
    nav .navBtn i{
        font-size: var(--font-h4);
    }

    .hero{
         max-width: 100%;
        width: 100%;
        height:140vh;
        display: flex;
        align-items: center;
        justify-content: center;
         overflow: hidden;
        position: sticky;
        z-index: 1;
    }
    .hero .ten-slider{
        position: sticky;
        top: 0%;
        margin-top: 13%;
        left: 0%; 
        width:100%;
        max-width: 100%;
        height: 120%;
        object-fit: cover;
         
       
}
.hero::before{
    z-index: 777;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
     /* For browsers that do not support gradients */
    background: linear-gradient(to bottom , rgba(7, 7, 7, 0.836), #0A0A0A);
    backdrop-filter: blur(2px);
}
.hero .hero-content{
    position: absolute;
    z-index: 999;
    top: 20%;
    left: 0;
    max-width: 100%;
    width: 100%;
    
}
.hero-content .hero-container{
   
    max-width: 100%;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 6%;
    gap: 80px;
   
}
.hero-container .hero-card-left,
.hero-container .hero-card-right{
    max-width: 100%;
    width: 100%;
    position: relative;
    
}
.hero-container .hero-card-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
 .dot-txt{
    font-size: var(--font-15);
    color: var(---txt-white);
    background: var(--btn-bg-color);
    padding: 10px 28px;
    display: flex;
    gap: 10px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ffffff0e;
    border-radius: 35px;
    transition: var(--transition-2);
    

}
.hero-card-left .dot-txt:hover{
    color: var(---txt-white-grey);
    border: 1px solid #ffffff2a;
    box-shadow: rgba(93, 94, 95, 0.082) 0px 8px 24px;
}
.dot-txt:hover i{
    color: #fff;
}
.hero-card-left h1,
.recent-info h2{
    font-weight: 400;
    text-transform: capitalize;
    color: var(---txt-white);
    position: relative;
    margin-bottom: 15px;
}
.hero-card-left h1 span,
.recent-info h2 span{
    color: var(---txt-white-grey);
}
.hero-card-left h1 .h1-icon,
.recent-info h2 .h1-icon{
    font-size:var(--font-20) ;
    background: var(--btn-bg-color);
    padding: 15px 16px;
    border-radius: 50%;
     border-top: 1px solid #ffffff17;
     position: absolute;
     top: 30px;
     right: -70px;
     transform: rotate(0deg);
     transition: var(--transition-3);
     color: var(---txt-white);
     
     
}
.recent-info h2 .h1-icon{
    top: 15px;
}
.hero-card-left h1:hover .h1-icon,
.recent-info h2:hover .h1-icon{
    transform: rotate(-60deg);
    right: -60px;
    opacity: 0.7;
    
}
.hero-card-left h1 p,
.recent-info h2 p{
    font-size: var(--font-15);
    transform: rotate(-45deg);
    position: absolute;
    text-transform: lowercase;
    bottom: 0;
    right: -27%;
    
    color: var(---txt-white-grey);
    transition: var(--transition-1);
    opacity: 0;
}
.hero-card-left h1:hover p,
.recent-info h2:hover p{
    opacity: 1;
    right: -25%;
    bottom: -2%;
     transform: rotate(-48deg);
}
.hero-card-left .hero-decs,
.recent-info .hero-decs{
    width: 100%;
    max-width: 100%;
    color: var(---txt-white-grey);
    font-size: var(--font-16);
    line-height: 25px;
    font-weight: 500;

}
.recent-info .hero-decs{
    margin-top: -25px;
}
.hero-card-left .hero-btns,
.recent-content .hero-btns{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
    margin-top: 15px;
}
.recent-content .hero-btns{
    gap: 10px;
}
 .project-btn{
    background: var(--gradient-1);
    color: var(---txt-white);
    opacity: 1;
    transition: var(--transition-2);
    font-size: var(--font-16);
    font-weight: 600;
}
 .project-btn:hover,
 .contact-btn:hover{
    opacity: 0.8;
}
 .contact-btn{
    background: var(--gradient-4);
    color: var(---txt-blk);
     opacity: 1;
    transition: var(--transition-2);
    font-size: var(--font-16);
    font-weight: 600;
}
.hero-container .hero-card-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    gap: 60px;
   
}
.hero-card-right .hero-card-one,
.hero-card-right .hero-card-two{
    max-width: 100%;
    position: relative;
    
}
.hero-card-one .hero-card,
.hero-card-two .hero-card{
    width: 210px;
    height: 140px;
    background: var(--btn-bg-color);
    padding: 20px;
    max-width: 100%;
    border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 1px solid #ffffff10;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0.8;
  cursor: pointer;
}
.hero-card-right .hero-card-one:hover,
.hero-card-right .hero-card-two:hover{
 box-shadow: rgba(93, 93, 94, 0.075) 0px 7px 29px 0px;
 border-radius: 10px;

}
.hero-card-right .hero-card-one{
    transform: rotate(-12deg);
    margin-top: -80px;
    animation: flexUp 6s linear infinite ;
    transition: var(--transition-1);
    
}
.hero-card-right .hero-card-two{
    transform: rotate(12deg);
    margin-top: 100px;
    animation: flexDown 6s linear infinite ;
    transition: var(--transition-1);
    
}
.hero-card-one .hero-card q,
.hero-card-two .hero-card q{
    font-size: var(--font-15);
    word-spacing: 1px;
    color: var(---txt-white);
    
}
.hero-card-one .hero-card p,
.hero-card-two .hero-card p{
    font-size: var(--font-15);
    text-align: right;
    color: var(---txt-white-grey);
}
.hero-card-one img{
    position: absolute;
    bottom: -17%;
    right: -5%;
    opacity: 0.8;
}
.hero-card-two img{
    position: absolute;
    top: -17%;
    left: -5%;
    opacity: 0.8;
}

@keyframes flexUp {
    0%, 100%{
        margin-top: -80px;
    }
    50%{
        margin-top: 0;
    }
    
    
    
}
@keyframes flexDown {
    0%, 100%{
        margin-top: 100px;
    }
    50%{
        margin-top: 0;
    }
    
/* ===============================project card start here=======================  */
    
}
.project{
    
    position: absolute;
    top: 68% ;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 90%;
    min-height: 100vh;
    max-width: 100%;
    padding-bottom: 5%;

   
}
.project-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 100%;
  margin-bottom: 3%;

  padding: 10px;

 }
 
 .project-container .project-card{
    
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  border: 1px solid var(--btn-bg-color);
    width: 100%;
    padding: 15px;
    background: var(--btn-bg-color);
    height: 400px; 
     transition: var(--transition-2); 
   
    cursor: pointer;
 
 }
 
 .project-card img{
     display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
  border-radius: 15px;
 }
  .project-card:nth-child(1):hover img,
  .project-card:nth-child(4):hover img{
  transform: scale(1.02) rotate(1deg);
 }
 .project-card:nth-child(2):hover img,
  .project-card:nth-child(3):hover img{
  transform: scale(1.02) rotate(-1deg);
 }
 .project-icon{
     position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
 
  padding: 10px;
  border-radius: 50%;
  pointer-events: none;
 overflow: hidden;
  max-width: 100%;
  z-index: 999;
 
 }
 .project-card:hover .project-icon {
  opacity: 1;
}
.project-icon p{
     font-size: var(--font-16);
     
  max-width: 100%;
  border: 1px solid #ffffff63;
  backdrop-filter: blur(15px);
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 50px;

  text-align: center;
  color: var(---txt-white);
}
.project-card i{
    position: absolute;
    bottom: 5px;
    left: 8px;
    background: var(--btn-bg-color);
    padding: 12px;
    border: 1px solid #ffffff21;
    font-size: var(--font-20);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    opacity: 1;
    transition: var(--transition-2);
}
.project-card:hover i{
    animation: hoverUp 3s linear infinite;
    transition: var(--transition-2);

}
@keyframes hoverUp {
    0%, 100%{
        
        transform: rotate(50deg);
         transition: var(--transition-2);
    }
    50%{
        
         transform: rotate(0deg);
         transition: var(--transition-2);
    }

    
}

.project a {
    font-size: var(--font-h3);
    color: var(---txt-white);
   position: relative;
   max-width: 100%;
   display: block;
}
.project a:hover {
    opacity: 0.7;
}

/* ======================================================================
    ==============================main start here========================
    ====================================================================== */

main{
    margin-top: 54%;
}


/* ===============================about start here=======================  */

#about{
    max-width: 100%;
    border: 1px solid #ffffff17;
    height: auto;
    border-radius: 35px;
  
    position: relative;
    background: var(--btn-bg-color);
}
.about-us{
    margin-top: 6%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us .dot-txt{
    box-shadow: rgba(0, 0, 0, 0.925) 0px 5px 15px;
   text-transform: capitalize;
   max-width: 20%;
}
.about-us h2{
    font-weight: 400;
    margin-top: 3%;
    text-align: center;
}
.about-us h2 span{
    color: var(---txt-white-grey);
}
.about-us p{
    font-size: var(--font-16);
    color: var(---txt-white-grey);
    margin-top: 20px;
    text-align: center;
}
.about-container{
    max-width: 100%;
    width: 100%;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 35px;
    margin-bottom: 6%;
}
.about-container .about-img-card,
.about-container .about-content-card{
    width: 100%;
    max-width: 100%;
    background: var(--btn-bg-color);
    padding:20px ;
    box-shadow: rgba(0, 0, 0, 0.63) 0px 20px 35px;
    border-radius: 15px;
    border: 1px solid rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    transition: var(--transition-3);
    
}
.about-container .about-img-card{
    width: 70%;
}
.about-img-card:hover img{
    transform: scale(1.1);

}
.about-img-card .about-img{
    width: 100%;
    height: 400px;
    position: relative;
    transition: var(--transition-2);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.966) 0px 48px 100px 0px;
    
    
}
.about-img:hover img{
    transform: scale(1.1);
}
.about-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition:2s ease-in-out;
}
.about-img .about-img-badge{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    display: flex;
    background: #ffffff02;
    justify-content: center;
    border: 1px solid #ffffff0e;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 35px;
    gap: 10px;
    padding: 8px 25px;
    transition: var(--transition-2);
   
}
.about-img:hover .about-img-badge{
    transform:translateX(-50%) scale(1.1) translateY(5%);
}
.about-img-badge span{
    font-size: 13px;
    font-weight: 300;
    color: var(---txt-white);
    opacity: 0.9;
    text-transform: capitalize;
}
    .circle-container {
      position: relative;
      width: 10px;
      height: 10px;
    }

    .circle {
      width: 7px;
      height: 7px;
      background-color: #00ff55;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    .glow {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: radial-gradient(circle, rgba(0, 255, 85, 0.4) 30%, transparent 80%);
      border-radius: 50%;
      animation: pulse 5s infinite ease-in-out;
      transition: var(--transition-2);
    }

    @keyframes pulse {
      0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
      }
      50% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0;
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
      }
    }

.about-img-card .about-img-content{
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    flex-direction: column;

}
.about-img-content h4{
    font-weight: 500;
    color: var(---txt-white);
    transition: var(--transition-2);
}
.about-img-content:hover h4,
.about-img-content:hover p{
    letter-spacing: 0.2px;

}

.about-img-content p{
    font-size: var(--font-15);
    color: var(---txt-white-grey);
    margin-bottom: 15px;
    transition: var(--transition-3);
}
.about-img-content .about-link{
    max-width: 100%;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1%;
    border-bottom: 1px solid #ffffff0c;
}
.about-link a{
    font-size: var(--font-24);
    color: var(---txt-white);
    background: var(---txt-blk);
    padding: 7px;
    border-radius: 50%;
    position: relative;
    transition: var(--transition-1);
    
}
.about-link a:hover {
    box-shadow: rgba(165, 152, 152, 0.24) 0px 3px 8px;
    
}
.about-link a i{
    transition: var(--transition-1);
    transform: rotate(0deg) scale(1);
}
.about-link a:hover i{
    transform: rotate(2deg) scale(1.1);
}
.about-link a:nth-child(2)::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 28px;
    top: 50%;
    transform: translateY(-50%);
    left: -13px;
    background: var(---txt-white-grey);
    opacity: 0.2;

}
.about-link a:nth-child(2)::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 28px;
    top: 50%;
    transform: translateY(-50%);
    right: -13px;
    background: var(---txt-white-grey);
    opacity: 0.2;

}
.about-img-content a{
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 400;
}
.about-content-card .about-pera{
    font-size: var(--font-16);
    color: var(---txt-white);
    opacity: 0.9;
    margin-top: 15px;
    line-height: 25px;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff11;
    width: 97%;
}
.about-content-card .about-card-bar{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff0a;
    margin-top: 5%;
}
.about-card-bar span{
    background: var(---txt-blk);
    border: 1px solid var(--btn-bg-color);
    padding: 15px 12px;
    text-transform: capitalize;
    color: var(---txt-white-grey);
    font-size: var(--font-16);
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: var(--transition-1);
    opacity: 0.8;
}
.about-card-bar span:hover{
    opacity: 1;
    color: var(---txt-white);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 20px 15px;
}
.about-content-card .about-experience{
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.about-experience .exprience{
    max-width: 100%;
    width: 100%;
    padding: 20px 30px;
    background: #00000088;
    border: 1px solid var(--btn-bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.507) 0px 28px 15px;
    transition: var(--transition-1);
}
.exprience p{
    font-size: var(--font-16);
    color: var(---txt-white-grey);
    font-weight: 500;
    text-transform: capitalize;
    max-width: 100%;
    text-align: center;
}
.about-experience .exprience:hover{
    box-shadow: rgba(0, 0, 0, 0.582) 0px 35px 15px;

}
.exprience:hover p{
    color: var(---txt-white);
}


/* ===============================process start here=======================  */
#process{
    max-width: 100%;
    border-bottom: 1px solid rgb(36, 35, 35);
    border-radius: 35px;
    padding-bottom: 10%;
    margin-bottom: 5px;
    
    
}

.slider-two-wrap{
    max-width: 100%;
    width: 100%;
    margin:  0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.slider-two{
    width:100%;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 2%;
    display:flex ;
    overflow-x: scroll;
    padding-top: 25px;
    scroll-behavior: smooth;
    animation: zoom 0.3s linear ease-in-out;
    margin-bottom: 5%;
}
.slider-two::-webkit-scrollbar{
    display: none;
}
 .slider-two .slider-container{
     width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
  
    background: #0000001a;
 }
 .slider-container::after,
 .slider-container::before{
        content: "";
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        z-index: 2;
        pointer-events: none;
    }
    .slider-container::before {
  left: 0;
  background: linear-gradient(to right, #0A0A0A, transparent);
}

.slider-container::after {
  right: 0;
  background: linear-gradient(to left, #0A0A0A, transparent);
}
 .slider-container .process-card{
   width: 380px;
   border: 1px solid #131212d5;
   box-shadow: rgba(0, 0, 0, 0.877) 0px 27px  30px;
   
    padding: 55px 30px 30px;
    max-width: 100%;
    position: relative;
    border: 1px solid #111111b6;
    background: var(--btn-bg-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;

 }
 .process-card .count{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: var(--font-15);
    background: var(---txt-blk);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-top: 1px solid #ffffff3f;
    transition: 0.32s 

 }
 .process-card i{
    font-size: var(--font-28);
    margin-top: 10px;
    transition: 0.32s 
 }
 .process-card h5{
    font-size: var(--font-h5);
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5px;
    text-align: left;
    transition: 0.32s 
 }
 .process-card p{
    font-size: var(--font-15);
    color: var(---txt-white-grey);
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    transition: 0.32s 
 }
 .process-card .step{
    max-width: 100%;
    padding: 8px 15px;
    background: var(---txt-blk);
    opacity: 0.8;
    border-radius: 35px;
    font-size: var(--font-15);
    text-transform: capitalize;
    margin: 10px 0;
    color: var(---txt-white);
    transition: 0.32s 
 }
 .process-card:hover .count,
 .process-card:hover h5,
 .process-card:hover p,
 .process-card:hover .step,
 .process-card:hover i{
    transform: scale(1.03);
 }
 
 .process-slide-card{
    max-width: 100%;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding:  30px;
    border-top: 1px solid #ffffff15;
    border-radius: 20px;
    background: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: var(--transition-2);
 }
 .process-slide-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 15px;
 }
 .process-slide-card .process-card-left{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: start;
 }
 .process-card-left h5{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 10px;
    font-weight: 600;
    opacity: 0.8;
 }
 .process-card-left h5 i{
    display: block;
    margin-top: 5px;

 }
 .process-card-left p{
    font-size: var(--font-15);
    margin-left: 10px;
    margin-top: 5px;
    color: var(---txt-white-grey);

 }
 .process-slide-card .process-card-right{
    width: 100%;
    max-width: 100%;
 }
 .process-card-right .hero-btns{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
 }

 /* ===============================service info start here=======================  */
 #service{
    max-width: 100%;

 }
 .service-info{
    max-width: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
 }
 .service-info .about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 }
 .service-info .about-us .dot-txt{
    
    max-width: 100%;
 }

 .service-container{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
 }
  .service-container .service-container-card{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
  }
  .service-container-card .service-cards{
    max-width: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    background: var(--secondary-color);
    border-top: 1px solid #ffffff13;
    display: flex;
    flex-direction: column;
    gap: 20px;
     box-shadow: rgba(0, 0, 0, 0.836) 0px 15px 15px;
     transition: var(--transition-2);
  }
  .service-container-card .service-cards:hover{
     box-shadow: rgba(0, 0, 0, 0.836) 0px 25px 15px;
    
  }
  .service-cards h5{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    opacity: 0.9;
    text-transform: capitalize;
    
  }
  .service-cards p{
    font-size: var(--font-15);
    color: var(---txt-white-grey);
    font-weight: 500;
    margin-bottom: 15px;
   
  }
  .service-cards .service-img,
  .service-cards .service-img-slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    transform: scale(1);
    border-radius: 8px;
    transition: var(--transition-1);
  }

 .service-img:hover img{
    transform: scale(1.02);
 }
  .service-img img{
    width: 100%;
    transition: var(--transition-1);
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

  }
  .gallery-carousel{
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
   .gallery-carousel .carousel-items{
    display: flex;
    gap: 20px;
    animation: gallary 7s linear infinite;
    
    
 }

  .gallery-carousel::after,
 .gallery-carousel::before,
 .service-logo-slider::after,
 .service-logo-slider::before{
        content: "";
        position: absolute;
        top: 0;
        width: 70px;
        height: 100%;
        z-index: 2;
        pointer-events: none;
    }
    .gallery-carousel::before,
     .service-logo-slider::before {
  left: 0;
  background: linear-gradient(to right, #0A0A0A, transparent);
}

.gallery-carousel::after,
 .service-logo-slider::after {
  right: 0;
  background: linear-gradient(to left, #0A0A0A, transparent);
}
 .carousel-img{
    display: block;
    margin: 2px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: var(--transition-2);
    transform: scale(1);
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
    
   
    
 }
  .carousel-img:hover {
    transform: scale(1.01);
  }
 @keyframes gallary{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
 } 


 .service-logo-slider{
    margin-top: 5%;
    max-width: 100%;
    position: relative;
    background: #11111123;
    padding: 1% 0;
    border-radius: 40px;
 }

 .service-logo-one{
    margin: 10px 0;
      transition: var(--transition-1);
 }
 .service-logo-container{
     max-width: 100%;
    display: flex;
    width: 100%;
   height: auto;
    
    overflow: hidden;
    
 }
  .service-logo-container::-webkit-scrollbar{
    display: none;
  
 }

 .service-logo-card{
      width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    
    flex: none;
    animation: 15s slider infinite linear;
  
 }
   
  
 .service-logo-card.b{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    
    flex: none;
    animation: 18s slider2 infinite linear;
 }
.service-logo-card .logo-body{
    max-width: 100%; 
    width: 80%;   
    padding: 12px 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 35px;
    background: var(--secondary-color);
    border: 1px solid #ffffff11;
    opacity: 0.7;
    transition: var(--transition-1);
    

}
.logo-body:hover {
    opacity: 1;

}

.logo-body i{
    font-size: var(--font-20);
   
}
.logo-body p{
    font-size: var(--font-18);
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    color: var(---txt-white-grey);
}
 @keyframes slider{
   from{
       transform: translateX(0);
   }
   to{
       transform: translateX(-100%);
   }
   
}
@keyframes slider2{
   from{
       transform: translateX(-100%);
   }
   to{
       transform: translateX(0);
   }
   
}

/* ===============================recent start here=======================  */
#recent{
    max-width: 100%;
    padding-top: 7%;
    border-top: 1px solid #ffffff15;
    border-radius: 5%;
}
.recent-content{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
    width: 100%;
    padding: 5px 20px;
}
.recent-content .recent-info{
    max-width: 100%;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.recent-product-container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    gap: 20px;
    padding: 20px;
    margin-top: 3%;
 }
 .recent-product-container .recent-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .recent-product-container .recent-container:nth-child(1){
    flex-direction: column;
 }
  .recent-product-container .recent-container:nth-child(2){
    flex-direction: column-reverse;
   
 }
 .recent-container:nth-child(1) .project-card:nth-child(1),
 .recent-container:nth-child(2) .project-card:nth-child(1){
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  border: 1px solid var(--btn-bg-color);
    width: 100%;
    padding: 15px;
    background: var(--btn-bg-color);
    height: 500px; 
     transition: var(--transition-2); 
   
    cursor: pointer;
 
   

 }
 .recent-container:nth-child(1) .project-card:nth-child(2),
 .recent-container:nth-child(2) .project-card:nth-child(2){
    position: relative;
    overflow: hidden;
    border-radius: 15px;
  border: 1px solid var(--btn-bg-color);
    width: 100%;
    padding: 15px;
    background: var(--btn-bg-color);
    height: 280px; 
     transition: var(--transition-2); 
   
    cursor: pointer;

 }

/* ===============================choose start here=======================  */
#choose{
    max-width: 100%;
    border-top: 1px solid #ffffff17;
    border-radius: 40px;
    height: auto;
    background: var(--secondary-color);
}
 .spacer {
      height: 100vh;
    }

    .stack-container {
      position: relative;
      height: 400vh; /* Enough to scroll through all cards */
    }

    .cards {
      position: sticky;
      top: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card {
      position: absolute;
      width: 400px;
      height: 250px;
      border-radius: 12px;
      padding: 20px;
      background: #333;
      box-shadow: 0 20px 40px rgba(0,0,0,0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: scale(0.9);
      opacity: 0;
      transition: all 0.6s ease;
    }

    .card h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .card.visible {
      transform: scale(1);
      opacity: 1;
      z-index: 10;
    }

    .card:nth-child(1) { background: #444; }
    .card:nth-child(2) { background: #555; }
    .card:nth-child(3) { background: #666; }
    .card:nth-child(4) { background: #777; }